footer.footer
  #footer-container.container.text-center
    a.up-arrow(href='#myPage', data-toggle='tooltip', title='TO TOP')
      span.glyphicon.glyphicon-chevron-up
    .col-sm-12
      p
        | Hours:
      p
        | Mon-Sun: 11:00 am - 6:00 pm

    .col-sm-12
      p
        a(href='/login') Login

