footer.footer
  #footer-container.container.text-center
    a.up-arrow(href='#myPage', data-toggle='tooltip', title='TO TOP')
      span.glyphicon.glyphicon-chevron-up
    .col-sm-12
      p
        | Hours:
      p
        | Tue-Thu: 11:00 am - 6:00 pm
      P
        | Fri-Sat: 11:00 am - 8:00 pm
      P
        | Sun-Mon: Closed
        | (December Only Sun 1:00 pm - 5:00 pm)

    .col-sm-12
      p
        a(href='/login') Login

