footer.footer
  .container.text-center
    .col-sm-6
      a.up-arrow(href='#myPage', data-toggle='tooltip', title='TO TOP')
        span.glyphicon.glyphicon-chevron-up
      br
      br
      p
        | Hours:
      br
      p
        | Tue-Fri: 11:00 am - 7:00 pm
      P
        | Sat: 9:00 am - 7:00 pm
      P
        | Sun-Mon: Closed
    .col-sm-6
      p
        a(href='/login') Login
