footer.footer
  .container
    a.up-arrow(href='#myPage', data-toggle='tooltip', title='TO TOP')
      span.glyphicon.glyphicon-chevron-up
    .col-sm-12
      p
        | Hours:
      p
        | Tue-Fri: 11:00 am - 7:00 pm
      P
        | Sat: 9:00 am - 7:00 pm
      P
        | Sun-Mon: Closed
    .col-sm-12
      p
        a(href='/login') Login

