extends layout

block content
    .container
        h1.text-center Indigo Pearl Gallery
        p.page-description.text-center Views from around the pearl.
            .row
            each image in images
                .row
                    .col-xs-12.gallery-object
                        .thumbnail
                            a.lightbox(href='images/uploads/' + image.filename)
                                img(src='images/uploads/'+ image.filename, alt='myimage')
                            .gallery-caption
                                h3= image.imagetitle
                                p.text-overflow= image.description
















