extends layout

block content
  #myCarousel.carousel.slide(data-ride='carousel', data-interval='5500')

    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
      li(data-target='#myCarousel', data-slide-to='3')

    .carousel-inner(role='listbox')
      .item.active
        img(src='images/indigo-pearl-title-slide2.jpg', alt='The Indigo Pearl Boutique', width='1920', height='1080')
      .item
        img(src='images/homedecor2.jpg', alt='The Indigo Pearl Boutique', width='1920', height='1080')
        .carousel-caption
          h2 Home Decor
      .item
        img(src='images/art2.jpg', alt='imageTextHere', width='1920', height='1080')
        .carousel-caption
          h2 Art
      .item
        img(src='images/accessories2.jpg', alt='imageTextHere', width='1920', height='1080')
        .carousel-caption
          h2 Accessories


    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next

  #about.container.text-center
    h3 The Indigo Pearl Boutique
    p The Indigo Pearl is a decorators boutique that specializes in unique furniture designs, hand crafted home decor, jewelry and leather goods.  We regularly showcase crafts and artwork from local and international artisans.  If you are looking for a high-end gift or design of distinction our shop in beautiful Waxhaw, NC is loaded with secret treasures to accessorize your space.
    br

  #artists.bg-1
    .container
      h3.text-center SOME OF OUR TREASURES
      .row.text-center
        .col-sm-4
          .thumbnail
            img(src='images/homedecor2.jpg', alt='home decor', width='100%', height='auto')
            p.font-indigo
              strong Home Decor
            p.pspace
              |  We are delighted to present you with this exciting collection of unique items for the home. Choose from an array of Lamps, Dining Tables, Chairs, Bookcases, new stock weekly
          div.btn-space
              a.button(href='/gallery') See More
        .col-sm-4
          .thumbnail
            img(src='images/art2.jpg', alt='art', width='100%', height='auto')
            p.font-indigo
              strong Art
            p.pspace
              |  Each piece selected is from local artists or photographers. Our gallery has unique pieces that will stimulate the mind - Bold and vibrant, to the more robust colors of wild horses.
          div.btn-space
            a.button(href='/gallery') See More
        .col-sm-4
          .thumbnail
            img(src='images/accessories2.jpg', alt='accessories', width='100%', height='auto')
            p.font-indigo
              strong Gifts
            p.pspace
              |  Each item handmade. Impeccable pieces created by Deann. Choose from leather goods, Jewelry, candles, wallets, luxury handbags and one of a kind accessories.
          div.btn-space
              a.button(href='/gallery') See More
        .buffer
          .row.text-center
            .col-md-12
              h3.text-center.buffer
                | Come visit us today!
                br
                br

  #myModal.modal.fade(role='dialog')
    .modal-dialog

      h1 Coming Soon

  #contact.container
    h3.text-center Testimonials
    ul.nav.nav-tabs
      li.active
        a(data-toggle='tab', href='#home') "Loved"
      li
        a(data-toggle='tab', href='#menu1') "Great Quality"
      li
        a(data-toggle='tab', href='#menu2') "Stunning"
    .tab-content
      #home.tab-pane.fade.in.active
        h2.font-indigo --A. Banzhof
        p
          | "Loved shopping at the Indigo Pearl, they were so helpful and passionate. I bought my now favorite leather bag at the Autumn Treasures show in Waxhaw, NC. Haven't used another bag since! "
      #menu1.tab-pane.fade
        h2.font-indigo --C. Dalton
        p
          | "Reasonable prices for great quality! I loved that the girls made the leather bags by hand."
      #menu2.tab-pane.fade
        h2.font-indigo --D. Stelzl
        p
          | "Deann's passion and artsy-eye is positively stunning! The pieces of art that she finds and display illustrate her detail to things that most of us would miss. Each piece of unique jewelry that I have been able to pick up and examine have been absolutely exquisite. The Indigo Pearl is defenitly the place to buy something special for someone special!"
    br
    h3.text-center Contact
    p.text-center
      em We love your feedback!
    .row
      .col-md-4
        p Drop a note.
        p
          span.glyphicon.glyphicon-map-marker
          | 101 E North Main St, Waxhaw, NC 28173
        p
          span.glyphicon.glyphicon-phone
          | Phone: (704) 221.3769
        p
            a.gray(href='https://www.facebook.com/TheIndigoPearl')
                i.fa.fa-facebook-square(aria-hidden='true')
                | &nbsp
                span Facebook
        p
            a.gray(href='https://www.instagram.com/theindigopearl')
                i.fa.fa-instagram(aria-hidden='true')
                | &nbsp
                span Instagram
      .col-md-8
        form.row(method='POST', action='/contact')
          .form-group
            .col-sm-6.col-xs-12
              input.form-control(id='name', name='name', placeholder='Name', type='text', required='')
            .col-sm-6.col-xs-12
              input.form-control(id='email' name='email', placeholder='Email', type='email', required='')
            br
          .form-group
            .col-sm-12
              textarea.form-control(id='message' name='message', placeholder='Enter message here.', rows='5')
          .form-group
            .col-md-12
              br
              button.btn.pull-right(type='submit') Send
          br

      .row.text-center
      br
      #googleMap.col-md-8
      script.
          function myMap() {
              var myCenter = new google.maps.LatLng(34.925231, -80.743625);
              var mapProp = {
                  center: myCenter,
                  zoom: 15,
                  scrollwheel: false,
                  draggable: false,
                  mapTypeId: google.maps.MapTypeId.ROADMAP,
                  styles: [
                      {
                          "featureType": "administrative",
                          "elementType": "all",
                          "stylers": [
                              {
                                  "visibility": "on"
                              },
                              {
                                  "lightness": 33
                              }
                          ]
                      },
                      {
                          "featureType": "administrative.locality",
                          "elementType": "labels.text.fill",
                          "stylers": [
                              {
                                  "color": "#4b0082"
                              }
                          ]
                      },
                      {
                          "featureType": "administrative.locality",
                          "elementType": "labels.text.stroke",
                          "stylers": [
                              {
                                  "color": "#d7d2f0"
                              }
                          ]
                      },
                      {
                          "featureType": "landscape",
                          "elementType": "all",
                          "stylers": [
                              {
                                  "color": "#f5ebdc"
                              }
                          ]
                      },
                      {
                          "featureType": "poi.business",
                          "elementType": "all",
                          "stylers": [
                              {
                                  "visibility": "on"
                              },
                              {
                                  "hue": "#3200ff"
                              }
                          ]
                      },
                      {
                          "featureType": "poi.business",
                          "elementType": "labels.text.stroke",
                          "stylers": [
                              {
                                  "color": "#ffffff"
                              }
                          ]
                      },
                      {
                          "featureType": "poi.park",
                          "elementType": "geometry",
                          "stylers": [
                              {
                                  "color": "#c5dac6"
                              }
                          ]
                      },
                      {
                          "featureType": "poi.park",
                          "elementType": "labels",
                          "stylers": [
                              {
                                  "visibility": "on"
                              },
                              {
                                  "lightness": 20
                              }
                          ]
                      },
                      {
                          "featureType": "poi.school",
                          "elementType": "geometry",
                          "stylers": [
                              {
                                  "visibility": "on"
                              },
                              {
                                  "color": "#7044a3"
                              }
                          ]
                      },
                      {
                          "featureType": "poi.school",
                          "elementType": "labels.text.stroke",
                          "stylers": [
                              {
                                  "color": "#ffffff"
                              }
                          ]
                      },
                      {
                          "featureType": "road",
                          "elementType": "all",
                          "stylers": [
                              {
                                  "lightness": 20
                              }
                          ]
                      },
                      {
                          "featureType": "road.highway",
                          "elementType": "geometry",
                          "stylers": [
                              {
                                  "color": "#c5c6c6"
                              }
                          ]
                      },
                      {
                          "featureType": "road.arterial",
                          "elementType": "geometry",
                          "stylers": [
                              {
                                  "color": "#a073f8"
                              }
                          ]
                      },
                      {
                          "featureType": "road.arterial",
                          "elementType": "labels.text.fill",
                          "stylers": [
                              {
                                  "color": "#ffffff"
                              }
                          ]
                      },
                      {
                          "featureType": "road.arterial",
                          "elementType": "labels.text.stroke",
                          "stylers": [
                              {
                                  "color": "#5737b8"
                              }
                          ]
                      },
                      {
                          "featureType": "road.local",
                          "elementType": "geometry",
                          "stylers": [
                              {
                                  "color": "#beadf0"
                              }
                          ]
                      },
                      {
                          "featureType": "road.local",
                          "elementType": "labels",
                          "stylers": [
                              {
                                  "lightness": "6"
                              }
                          ]
                      },
                      {
                          "featureType": "road.local",
                          "elementType": "labels.text.fill",
                          "stylers": [
                              {
                                  "color": "#4b0082"
                              }
                          ]
                      },
                      {
                          "featureType": "road.local",
                          "elementType": "labels.text.stroke",
                          "stylers": [
                              {
                                  "color": "#ffffff"
                              }
                          ]
                      },
                      {
                          "featureType": "transit.line",
                          "elementType": "geometry",
                          "stylers": [
                              {
                                  "visibility": "on"
                              },
                              {
                                  "color": "#4800ff"
                              }
                          ]
                      },
                      {
                          "featureType": "transit.line",
                          "elementType": "geometry.stroke",
                          "stylers": [
                              {
                                  "color": "#8100f6"
                              }
                          ]
                      },
                      {
                          "featureType": "water",
                          "elementType": "all",
                          "stylers": [
                              {
                                  "visibility": "on"
                              },
                              {
                                  "color": "#7479e4"
                              }
                          ]
                      }
                  ]
              };
              var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
              var pinColor = "ffffff";
              var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
                  new google.maps.Size(21, 34),
                  new google.maps.Point(0, 0),
                  new google.maps.Point(10, 34));
              var pinShadow = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_shadow",
                  new google.maps.Size(40, 37),
                  new google.maps.Point(0, 0),
                  new google.maps.Point(12, 35));
              var marker = new google.maps.Marker({
                  position: myCenter,
                  map: map,
                  icon: pinImage,
                  shadow: pinShadow
              });
              marker.setMap(map);
          }
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBXilknjDEauoRQEIeRPUc3HeknljVkQCg&callback=myMap')
  .col-md-8
    p
